{% extends 'layout.html' %}


{% block body %}


  <h1>Apply for Job</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ job[1] }}</h5>
      <p class="card-text"><b>Requirement:</b> {{ job[2] | safe }}</p>
      <p class="card-text"><b>Location:</b> {{ job[3] }}</p>
      <p class="card-text"><b>Salary:</b>{{ job[4] }}</p>
    </div>
  </div>
 


  <div class="mt-4">
	  <h4>Application Form for {{job[1]}}</h4>
	  <form method="post" action="{{ url_for('applicant',job_id=job.id) }}">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="linkedin">LinkedIn Profile</label>
        <input type="url" class="form-control" id="linkedin" name="linkedin" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
