{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <h1>Job Listings</h1>
    <div class="row">
      {% for job in jobs %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ job[1] }}</h5>
            <p class="card-text">Location: {{ job[3] }}</p>
            <p class="card-text">Salary: {{ job[4] }}</p>
            <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
